_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea
_posts/2015-03-15-formatting-and-links.md
_posts/2015-05-15-images.md
_posts/2015-07-15-code.md
_posts/2015-10-20-disqus-comments.md
_posts/2015-10-20-math.md
_posts/2018-12-22-distill.md
_posts/2020-09-28-twitter.md
_posts/2021-07-04-diagrams.md
_posts/2022-02-01-redirect.md
_posts/2022-12-10-giscus-comments.md
_posts/2023-03-20-table-of-contents.md
_posts/2023-03-21-tables.md
_posts/2023-04-24-videos.md
_posts/2023-04-25-audios.md
_posts/2023-04-25-sidebar-table-of-contents.md
_posts/2023-05-12-custom-blockquotes.md
_posts/2023-07-04-jupyter-notebook.md
_posts/2023-07-12-post-bibliography.md
_posts/2023-12-12-tikzjax.md
_posts/2024-01-26-chartjs.md
_posts/2024-01-26-echarts.md
_posts/2024-01-26-geojson-map.md
_posts/2024-01-27-advanced-images.md
_posts/2024-01-27-code-diff.md
_posts/2024-01-27-vega-lite.md
_posts/2024-04-15-pseudocode.md
_posts/2024-04-28-post-citation.md
_posts/2024-04-29-typograms.md
_posts/2024-05-01-tabs.md
_posts/2024-12-04-photo-gallery.md
_posts/2025-03-26-plotly.md
_projects/2_project.md
_projects/3_project.md
_projects/4_project.md
_projects/5_project.md
_projects/6_project.md
_projects/7_project.md
_projects/8_project.md
_projects/9_project.md
_projects/projects_notes.md
